// --------------------------------------------------------
// Base styles
// --------------------------------------------------------
body, html {
    background: $grey-dark;
    margin: 0;
    height: 100%;
    width: 100%;
}

// --------------------------------------------------------
// Navigation styles
// --------------------------------------------------------
.top-navbar {
    position: fixed;
    width: 100%;
    height: $navbar-height;
    z-index: 3;
    .navbar-brand {
        .navbar-item {
            h1 {
                color: #FFF;
                font-weight: $weight-semibold;
                font-size: 1.5rem;
                margin-left: .5rem;
            }
        }
    }
    .navbar-menu {
        display: block;
        padding: 0;
        background: $grey-lighter;
        @include desktop {
            background: none;
        }
        .button .icon {
            @include mobile {
                width: auto;
                height: auto;
                margin: 0;
            }
        }
    }
}

.left-navigationn {
    position: absolute;
    background: $grey-lighter;
    margin-top: 8.5rem;
    z-index: 2;
    width: 14rem;
    &.hidden-box {
        margin-left: -14rem;
        .navbar-burger {
            position: fixed;
            top: auto;
            right: auto;
            margin: 0 0 0 14rem;
        }
    }
    @include tablet {
        width: 17rem;
        &.hidden-box {
            margin-left: -17rem;
            .navbar-burger {
                position: fixed;
                margin: 0 0 0 17rem;
            }
        }
    }
    @include desktop {
        margin: 5rem 0 1rem 1rem;
        width: 20rem;
        &.hidden-box {
            margin-left: 1rem;
            .navbar-burger {
                position: fixed;
                margin: 0 0 0 20rem;
            }
        }
    }
    .navbar-burger {
        background: $panel-heading-background-color;
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: -.5rem;
        right: -2.4rem;
        border-radius: 0;
        &:hover {
            background: $grey-lighter;
        }
        &:focus:not(:active) {
            box-shadow: none;
        }
    }
    .panel-heading {
        h2 {
            font-weight: $weight-semibold;
            i {
                color: $danger
            }
        }
        p {
            font-size: 1rem;
        }
    }
    .panel-block {
        &.is-divider {
            padding-bottom: 0;
            h3 {
                width: 100%;
                font-weight: $weight-medium;
                border-bottom: solid thin $grey;
            }
        }
        button {
            margin-left: auto;
        }
    }
}

// --------------------------------------------------------
// Map styles
// --------------------------------------------------------
.map-container {
    position: fixed;
    padding-top: $navbar-height;
    width: 100%;
    height: 100%;
    .map-canvas {
        height: 100%;
        width: 100%;
    }
}


